.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 90px;
}

.responseContainer {
    display: flex;
    gap: 87px;
    justify-content: center;
}

.imageContainer {}

.image {}

.textContainer {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    max-width: 500px;
}

.code {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 13px;

}

.text {}

.info {}