.container {
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.number {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
